

.card-title {
	text-align: center;
}
.card-text {
	text-align: center;
}
.label {
	font-size: 30px;
}
.badge-outline {
    color: gray;
    border: 1px solid gray;
    background-color: transparent;
    font-family: sans-serif;
}
.float-right {
	color:#0099ff;
}
.card-link {
	color:#0099ff;
	background-color: #fff;
}
